@font-face {
   font-family: 'HelveticaNeue-Roman', sans-serif;
   src: url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Roman.woff') format('woff');
      font-weight: 400;
      font-display: swap;
 }
 @font-face {
   font-family: 'HelveticaNeue-Bold', sans-serif;
   src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff');
      font-weight: 700;
      font-display: swap;
 }
@font-face {
   font-family: 'icomoon';
   src:  url('../fonts/icomoon.eot?8hivv8');
   src:  url('../fonts/icomoon.eot?8hivv8#iefix') format('embedded-opentype'),
     url('../fonts/icomoon.ttf?8hivv8') format('truetype'),
     url('../fonts/icomoon.woff?8hivv8') format('woff'),
     url('../fonts/icomoon.svg?8hivv8#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }
 
 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-twitter:before {
   content: "\f099";
 }
 .icon-facebook:before {
   content: "\f09a";
 }
 .icon-facebook-f:before {
   content: "\f09a";
 }
 .icon-youtube-play:before {
   content: "\f16a";
 }
 .icon-instagram:before {
   content: "\f16d";
 }

 /// contacts
 @font-face {
   font-family: 'simple-line-icons';
   src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0');
   src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('../fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 .icon-call-end,
 .icon-location-pin,
 .icon-envelope-open,
 .icon-doc,
 .icon-globe{
   font-family: 'simple-line-icons';
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-call-end:before {
   content: "\e048";
 }
 .icon-location-pin:before {
   content: "\e096";
 }
 .icon-envelope-open:before {
   content: "\e01e";
 }
 .icon-doc:before {
   content: "\e085";
 }
 .icon-globe:before {
   content: "\e037";
 }

 